body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
    background-image: url('./elements/mirinda-vi-soda-kem-viet-quat-moi-chua-ngot-beo-thom-ban-da-thu-202206020751378467.jpg');
    background-size: 50%;
}

#title-game{
    color:white;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    
}

#board_border{
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 550px;
    border-radius: 5%;
}

.score{
    display: block;
    width: max-content;
    height: 100px;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* float: right; */
    right: 2em;
    /* border-radius: 10%; */
}

.score-content{
    color: purple;
    font-size: 50px;
    font-weight: bold;   
    background-color: white;
    border: 10px solid purple;
}

.score-name{
    color: white;
    font-size: 20px;
    font-weight: bold;   
    background-color: purple;
    border: 10px solid purple;
}